@import url("./font.css");

* {
  font-family: "sofia-pro-soft";
}

body {
  font-family: "sofia-pro-soft";
  padding-top: 50px;
}

.greyColor {
  color: #908e8e;
}

.inputBgWhite {
  background-color: rgba(255, 255, 255, 0.2);
}
.selectBox,
.multiSelectContainer ul {
  background: #703fce;
}

.searchWrapper {
  border: 0 !important;
  padding: 5px 15px;
}

.bg-brandColor {
  background-color: #291f4e;
}

.category-1 {
  background-image: url("/images/spiral-edge.svg"),
    linear-gradient(253deg, #ed5d72 0%, #efa43f 100%);
  background-repeat: no-repeat;
  background-position: top right;
}
.category-2 {
  background-image: url("/images/spiral-edge.svg"),
    linear-gradient(253deg, #b34384 0%, #b34384 100%);
  background-repeat: no-repeat;
  background-position: top right;
}
.category-3 {
  background-image: url("/images/spiral-edge.svg"),
    linear-gradient(253deg, #4bafef 0%, #61d7c5 100%);
  background-repeat: no-repeat;
  background-position: top right;
}
.category-4 {
  background-image: url("/images/spiral-edge.svg"),
    linear-gradient(253deg, #9da6ff 0%, #5463f7 100%);
  background-repeat: no-repeat;
  background-position: top right;
}
.category-5 {
  background-image: url("/images/spiral-edge.svg"),
    linear-gradient(253deg, #b34384 0%, #5463f7 100%);
  background-repeat: no-repeat;
  background-position: top right;
}
.category-6 {
  background-image: url("/images/spiral-edge.svg"),
    linear-gradient(249deg, #61d7c5 0%, #f099d0 100%);
  background-repeat: no-repeat;
  background-position: top right;
}
.category-7 {
  background-image: url("/images/spiral-edge.svg"),
    linear-gradient(253deg, #e69e5e 0%, #ed5d72 100%);
  background-repeat: no-repeat;
  background-position: top right;
}
.category-8 {
  background-image: url("/images/spiral-edge.svg"),
    linear-gradient(247deg, #5deda5 0%, #efa43f 100%);
  background-repeat: no-repeat;
  background-position: top right;
}

/*Copy Code From app*/
.App {
  text-align: center;
}

.Auth-form-title {
  color: #3a3335;
}

a.linkColor {
  color: #b34384;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App {
  background-color: white;
}

.Auth-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  /*height: 100vh;*/
}

.Auth-form-container1 {
  display: flex;
  width: 100vw;
  height: 100vh;
  /* margin-left: 20px;*/
}

.Auth-form {
  width: 492px;
  box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
  border-radius: 8px;
  background-color: white;
}

label {
  font-size: 14px;
  font-weight: 600;
  color: rgb(34, 34, 34);
}

.err_msg {
  font-size: 11px;
  color: red;
}

#user-menu ~ #user-menu-dropdown {
  --transform-translate-x: 0;
  --transform-translate-y: 0;
  --transform-rotate: 0;
  --transform-skew-x: 0;
  --transform-skew-y: 0;
  --transform-scale-x: 1;
  --transform-scale-y: 1;
  transform: translateX(var(--transform-translate-x))
    translateY(var(--transform-translate-y)) rotate(var(--transform-rotate))
    skewX(var(--transform-skew-x)) skewY(var(--transform-skew-y))
    scaleX(var(--transform-scale-x)) scaleY(var(--transform-scale-y));
  transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
  transition-duration: 75ms;
  opacity: 0;
  --transform-scale-x: 0;
  --transform-scale-y: 0;
}

#user-menu ~ #user-menu-dropdown:focus-within,
#user-menu:focus ~ #user-menu-dropdown {
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  transition-duration: 100ms;
  opacity: 1;
  --transform-scale-x: 1;
  --transform-scale-y: 1;
}

.dropdownMenu {
  position: absolute;
  /*inset: 0px auto auto 0px; */
  margin: 0px;
  transform: translate(251px, 70px);
}

/*UI Integration*/
html,
body,
#root {
  height: 100%;
  --tw-bg-opacity: 1;
  background-color: #443280;
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.player-bgcolor {
  background-color: #613baa;
}

.bg-purple {
  background: #291f4e;
}
.bg-blueBack {
  background-color: #4bafef;
}
.bg-darkBlue {
  background-color: #703fce;
}

.inputBgWhite {
  background-color: rgba(255, 255, 255, 0.2);
}
.selectBox {
  background: #703fce;
}
.bg-brandColor {
  background-color: #291f4e;
}

.bg-header-gradient {
  background-image: url(header-img.png),
    linear-gradient(75deg, #5d4dd5 0%, #ed5d72 100%);
  background-repeat: no-repeat;
  background-position: center right;
}

/*.hover\:bg-active:hover {
            --tw-bg-opacity: 1;
            background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
            }*/

.btnPurpleColor {
  background-color: #5d4dd5;
}

.siraledge::after {
  background-repeat: no-repeat;
  background-position: top right;
}

div::-webkit-scrollbar {
  width: 4px !important;
  border-radius: 10px;
}

div::-webkit-scrollbar-thumb {
  background: #e0e0e3 !important;
  border-radius: 10px !important;
  min-height: 44px !important;
}

.custom-scrollbar
  .ant-table-scroll-horizontal
  .ant-table-body::-webkit-scrollbar {
  height: 6px !important;
}
.shadow-none {
  --tw-shadow: 0 0 #0000 !important;
  --tw-shadow-colored: 0 0 #0000 !important;
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow) !important;
}

/*ALL CSS*/

.loader {
  position: absolute;
  top: 80%;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 100px;
  height: 100px;
}

.pagination_loader {
  position: absolute;
  top: 80%;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 100px;
  height: 100px;
}

.spinner {
  display: block;
  position: fixed;
  z-index: 1031; /* High z-index so it is on top of the page */
  top: 44%;
  left: 44%; /* or: left: 50%; */
  margin: auto;
}

.bg-active {
  --tw-bg-opacity: 0.2;
  background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
}

.hover\:bg-active:hover {
  --tw-bg-opacity: 0.2;
  background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
}

.bg-primary {
  --tw-bg-opacity: 1;
  background-color: rgba(116, 100, 237, var(--tw-bg-opacity));
}

.h-fullCustom {
  height: calc(100% - 20px);
}

/*Chrome*/
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  input[type="range"] {
    height: 3px !important;
    -webkit-appearance: none;
    background: #fff !important;
  }

  input[type="range"]::-webkit-slider-runnable-track {
    height: 10px;
    -webkit-appearance: none;
    color: #13bba4;
    margin-top: -1px;
  }

  input[type="range"]::-webkit-slider-thumb {
    width: 15px;
    -webkit-appearance: none;
    height: 15px;
    cursor: ew-resize;
    background: #bb98ff;
    border-radius: 15px;
    margin-top: -2px;
  }
}
/** FF*/
input[type="range"]::-moz-range-progress {
  background-color: #43e5f7;
}
input[type="range"]::-moz-range-track {
  background-color: #9a905d;
}
/* IE*/
input[type="range"]::-ms-fill-lower {
  background-color: #43e5f7;
}
input[type="range"]::-ms-fill-upper {
  background-color: #9a905d;
}

.englishColor {
  background-color: #61d7c5;
}

.tamilColor {
  background-color: #f099d0;
}

.hindiColor {
  background-color: #e69e5e;
}

.teluguColor {
  background-color: #703fce;
}

.kannadaColor {
  background-color: #ed5d72;
}

.frenchColor {
  background-color: #4bafef;
}

.malayalamColor {
  background-color: #bebcc3;
}
.fixed {
  position: fixed !important;
}

.z-40 {
  z-index: 40 !important;
}
.Toastify__toast--success {
  background-color: #1cb78f;
}

/*--DROP DOWN--*/

.menu {
  display: flex;
  justify-content: center;
}
.dropdown {
  padding: 20px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  position: relative;
  font-size: 18px;
  perspective: 1000px;
  z-index: 100;
}
.dropdown:hover {
  background: transparent;
  cursor: pointer;
}
.dropdown:hover .dropdown_menu li {
  display: block;
}
.dropdown_menu {
  position: absolute;
  top: 100%;
  right: 0;
  width: 200px;
  perspective: 1000px;
  z-index: -1;
  border-radius: 10px;
}

.dropdown_menu li {
  display: none;
  color: #291f4e;
  background-color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  opacity: 0;
}
.dropdown_menu li:hover {
  background-color: #2980b9;
}
.dropdown:hover .dropdown_menu--animated {
  display: block;
}
.dropdown_menu--animated {
  display: none;
}
.dropdown_menu--animated li {
  display: block;
  opacity: 1;
}
.dropdown_menu-6 {
  animation: growDown 300ms ease-in-out forwards;
  transform-origin: top center;
}
.dropdown_menu-7 {
  animation: rotateMenu 400ms ease-in-out forwards;
  transform-origin: top center;
}
.dropdown_menu-8 {
  animation: downOut 300ms ease-in-out forwards;
  transform-origin: center center;
}
.dropdown_menu-9 {
  animation: growOut 300ms ease-in-out forwards;
  transform-origin: top center;
}
.dropdown_menu-10 {
  animation: rotateY 300ms ease-in-out forwards;
  transform-origin: top center;
}
.dropdown_menu-1 .dropdown_item-1 {
  transform-origin: top center;
  animation: slideDown 300ms 60ms ease-in-out forwards;
}
.dropdown_menu-1 .dropdown_item-2 {
  transform-origin: top center;
  animation: slideDown 300ms 120ms ease-in-out forwards;
}
.dropdown_menu-1 .dropdown_item-3 {
  transform-origin: top center;
  animation: slideDown 300ms 180ms ease-in-out forwards;
}
.dropdown_menu-1 .dropdown_item-4 {
  transform-origin: top center;
  animation: slideDown 300ms 240ms ease-in-out forwards;
}
.dropdown_menu-1 .dropdown_item-5 {
  transform-origin: top center;
  animation: slideDown 300ms 300ms ease-in-out forwards;
}
.dropdown_menu-2 .dropdown_item-1 {
  transform-origin: top center;
  animation: rotateX 300ms 60ms ease-in-out forwards;
}
.dropdown_menu-2 .dropdown_item-2 {
  transform-origin: top center;
  animation: rotateX 300ms 120ms ease-in-out forwards;
}
.dropdown_menu-2 .dropdown_item-3 {
  transform-origin: top center;
  animation: rotateX 300ms 180ms ease-in-out forwards;
}
.dropdown_menu-2 .dropdown_item-4 {
  transform-origin: top center;
  animation: rotateX 300ms 240ms ease-in-out forwards;
}
.dropdown_menu-2 .dropdown_item-5 {
  transform-origin: top center;
  animation: rotateX 300ms 300ms ease-in-out forwards;
}
.dropdown_menu-3 .dropdown_item-1 {
  transform-origin: top center;
  animation: rotateZ 300ms 60ms ease-in-out forwards;
}
.dropdown_menu-3 .dropdown_item-2 {
  transform-origin: top center;
  animation: rotateZ 300ms 120ms ease-in-out forwards;
}
.dropdown_menu-3 .dropdown_item-3 {
  transform-origin: top center;
  animation: rotateZ 300ms 180ms ease-in-out forwards;
}
.dropdown_menu-3 .dropdown_item-4 {
  transform-origin: top center;
  animation: rotateZ 300ms 240ms ease-in-out forwards;
}
.dropdown_menu-3 .dropdown_item-5 {
  transform-origin: top center;
  animation: rotateZ 300ms 300ms ease-in-out forwards;
}
.dropdown_menu-4 .dropdown_item-1 {
  transform-origin: top center;
  animation: scaleZ 300ms 60ms ease-in-out forwards;
}
.dropdown_menu-4 .dropdown_item-2 {
  transform-origin: top center;
  animation: scaleZ 300ms 120ms ease-in-out forwards;
}
.dropdown_menu-4 .dropdown_item-3 {
  transform-origin: top center;
  animation: scaleZ 300ms 180ms ease-in-out forwards;
}
.dropdown_menu-4 .dropdown_item-4 {
  transform-origin: top center;
  animation: scaleZ 300ms 240ms ease-in-out forwards;
}
.dropdown_menu-4 .dropdown_item-5 {
  transform-origin: top center;
  animation: scaleZ 300ms 300ms ease-in-out forwards;
}
.dropdown_menu-4 .dropdown_item-1 {
  transform-origin: top center;
  animation: scaleZ 300ms 60ms ease-in-out forwards;
}
.dropdown_menu-4 .dropdown_item-2 {
  transform-origin: top center;
  animation: scaleZ 300ms 120ms ease-in-out forwards;
}
.dropdown_menu-4 .dropdown_item-3 {
  transform-origin: top center;
  animation: scaleZ 300ms 180ms ease-in-out forwards;
}
.dropdown_menu-4 .dropdown_item-4 {
  transform-origin: top center;
  animation: scaleZ 300ms 240ms ease-in-out forwards;
}
.dropdown_menu-4 .dropdown_item-5 {
  transform-origin: top center;
  animation: scaleZ 300ms 300ms ease-in-out forwards;
}
.dropdown_menu-5 .dropdown_item-1 {
  transform-origin: top center;
  animation: translateX 300ms 60ms ease-in-out forwards;
}
.dropdown_menu-5 .dropdown_item-2 {
  transform-origin: top center;
  animation: translateX 300ms 120ms ease-in-out forwards;
}
.dropdown_menu-5 .dropdown_item-3 {
  transform-origin: top center;
  animation: translateX 300ms 180ms ease-in-out forwards;
}
.dropdown_menu-5 .dropdown_item-4 {
  transform-origin: top center;
  animation: translateX 300ms 240ms ease-in-out forwards;
}
.dropdown_menu-5 .dropdown_item-5 {
  transform-origin: top center;
  animation: translateX 300ms 300ms ease-in-out forwards;
}
@-moz-keyframes growDown {
  0% {
    transform: scaleY(0);
  }
  80% {
    transform: scaleY(1.1);
  }
  100% {
    transform: scaleY(1);
  }
}
@-webkit-keyframes growDown {
  0% {
    transform: scaleY(0);
  }
  80% {
    transform: scaleY(1.1);
  }
  100% {
    transform: scaleY(1);
  }
}
@-o-keyframes growDown {
  0% {
    transform: scaleY(0);
  }
  80% {
    transform: scaleY(1.1);
  }
  100% {
    transform: scaleY(1);
  }
}
@keyframes growDown {
  0% {
    transform: scaleY(0);
  }
  80% {
    transform: scaleY(1.1);
  }
  100% {
    transform: scaleY(1);
  }
}
@-moz-keyframes rotateMenu {
  0% {
    transform: rotateX(-90deg);
  }
  70% {
    transform: rotateX(20deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}
@-webkit-keyframes rotateMenu {
  0% {
    transform: rotateX(-90deg);
  }
  70% {
    transform: rotateX(20deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}
@-o-keyframes rotateMenu {
  0% {
    transform: rotateX(-90deg);
  }
  70% {
    transform: rotateX(20deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}
@keyframes rotateMenu {
  0% {
    transform: rotateX(-90deg);
  }
  70% {
    transform: rotateX(20deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}
@-moz-keyframes downOut {
  0% {
    transform: translateZ(200px) transLateY(40px);
  }
  80% {
    transform: translateZ(-10px) transLateY(0px);
  }
  100% {
    transform: translateZ(0px) transLateY(0px);
  }
}
@-webkit-keyframes downOut {
  0% {
    transform: translateZ(200px) transLateY(40px);
  }
  80% {
    transform: translateZ(-10px) transLateY(0px);
  }
  100% {
    transform: translateZ(0px) transLateY(0px);
  }
}
@-o-keyframes downOut {
  0% {
    transform: translateZ(200px) transLateY(40px);
  }
  80% {
    transform: translateZ(-10px) transLateY(0px);
  }
  100% {
    transform: translateZ(0px) transLateY(0px);
  }
}
@keyframes downOut {
  0% {
    transform: translateZ(200px) transLateY(40px);
  }
  80% {
    transform: translateZ(-10px) transLateY(0px);
  }
  100% {
    transform: translateZ(0px) transLateY(0px);
  }
}
@-moz-keyframes growOut {
  0% {
    transform: scale(0);
  }
  80% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
@-webkit-keyframes growOut {
  0% {
    transform: scale(0);
  }
  80% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
@-o-keyframes growOut {
  0% {
    transform: scale(0);
  }
  80% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes growOut {
  0% {
    transform: scale(0);
  }
  80% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
@-moz-keyframes rotateY {
  0% {
    transform: rotateY(90deg);
  }
  80% {
    transform: rotateY(-10deg);
  }
  100% {
    transform: rotateY(0);
  }
}
@-webkit-keyframes rotateY {
  0% {
    transform: rotateY(90deg);
  }
  80% {
    transform: rotateY(-10deg);
  }
  100% {
    transform: rotateY(0);
  }
}
@-o-keyframes rotateY {
  0% {
    transform: rotateY(90deg);
  }
  80% {
    transform: rotateY(-10deg);
  }
  100% {
    transform: rotateY(0);
  }
}
@keyframes rotateY {
  0% {
    transform: rotateY(90deg);
  }
  80% {
    transform: rotateY(-10deg);
  }
  100% {
    transform: rotateY(0);
  }
}
@-moz-keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-60px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@-webkit-keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-60px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@-o-keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-60px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-60px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
